    /***************************************** Polices *****************************************/
    @font-face {
        font-family: 'robotolight';
        src: url('Roboto-Light-webfont.eot');
        src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
            url('Roboto-Light-webfont.woff2') format('woff2'),
            url('Roboto-Light-webfont.woff') format('woff'),
            url('Roboto-Light-webfont.ttf') format('truetype'),
            url('Roboto-Light-webfont.svg#robotolight') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    nav.menu a:hover {
        /* Couleur Menu avec clic */
        color:white;
        font-family: 'robotobold', Arial, sans-serif;
        /* Couleur ligne du menu */
        border-top: 6px solid white;
        opacity: 1;
        transition: 0.5s ease-in-out;
        /* barre blanche hover menu */
        font-size: 14px;
        padding-top: 1.8%;
        margin-top: 4.2%;
    }

    .link {
        height: 100%;
        text-decoration: none;
        font-family: 'robotobold', Arial, sans-serif;
        font-weight: bold;
        color: rgb(223 58 149);
        /* Couleur texte menu sans clic */
        font-family: 'robotobold', Arial, sans-serif;
        padding: 38px 33px;
        font-size: 14px;
        /* hauteur menu avec clic */
        padding-top: 7.1%;
    }

    .h1{
        font-weight: bold #e5968a;
    }

    p{
        margin-top: 70px;
        text-align: justify;
    }

    /************************************************** ELEMENTS PRINCIPAUX DE LA PAGE **************************************************/
    body {
        /* Police texte bannière */
        font-family: 'robotolight', Arial, sans-serif;
        margin: auto;
        /*marge droite et gauche bannière */
        overflow-x: hidden;
        width: 100.1%;
        background: #EEEEEE;
        text-align: center;
    }


    .element:nth-child(1) {
        flex: 1;
    }

    #bloc_page {
        /* Pour centrer tout le site sur la page */
        margin-top: 10%;
    }

    section h1,
    footer h1,
    nav a {
        /* Police menu Accueil */
        font-family: 'robotolight', Arial, sans-serif;
        /* Police en gras menu accueil.. */
        font-weight: bold;
        /*Texte menu */
        text-transform: capitalize;
    }

    /************************************************** HEADER *************************************************/
    header {
        font-family: 'robotolight', Arial, sans-serif;
        display: flex;
        background-color: #41484a;
        /* marges logo et menu */
        justify-content: space-around;
        /* alignement texte du menu en face du logo */
        align-items: center;
        /*marge gauche logo */
        width: 80%;
        /*marge blanche haut */
        height: 50px;
        z-index: 100;
        /* fond blanc menu */
        position: fixed;
        width: 100%;
        box-shadow: 1px 3px 9px 3px;
    }

    #content {
        padding-top: 100px;
    }

    nav.menu {
        font-family: 'robotolight', Arial, sans-serif;
        border: 1px;
        display: flex;
        /* espace entre logo et texte menu */
        justify-content: flex-start;
    }

    #titre_principal {
        display: flex;
        flex-direction: column;
    }

    #logo {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    #logo img {
        /* Taille logo */
        width: 60px;
        height: 32px;
        border-radius: 3px;
        box-shadow: 1px 2px 9px 1px;
    }

    #logo img:hover{
        color: grey;
        opacity: 5;
        transition: 0.2s ease-in-out;
    }
 
    .fa-circle {
        color: #f2c7c1;
    }

    /************************************************** CORPS **************************************************/
    h2 {
        margin-top: 5%;
        padding-bottom: 0%;
        margin-bottom: 1%;
        font-family: 'robotolight', Arial, sans-serif;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    }


    #ligneproduits {
        width: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: auto;
    }

    .ligneproduits {
        width: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: auto;
    }

    .ligneleft1 {
        font-size: 35px;
        width: 85px;
        height: 1px;
        background: #858585;
    }

    .ligneright1 {
        font-size: 35px;
        width: 85px;
        height: 1px;
        background: #858585;
    }

    .ligneleft2 {
        font-size: 35px;
        width: 85px;
        height: 1px;
        background: #858585;
    }

    .ligneright2 {
        font-size: 35px;
        width: 85px;
        height: 1px;
        background: #858585;
    }

    .items {
        position: absolute;
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 10%;
        margin-bottom: 0%;
        font-size: 25px;
        float: left;
        z-index: 1;
        padding-top: 1%;
    }

    .circleitem {
        margin-left: 163%;
    }

    .circle_around {
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 0.4px solid #858585;
        color: #cdafaf;
        font-size: 15px;
        padding: 15px;
        z-index: 2;
        display: flex;
        align-content: center;
        justify-content: space-around;
        padding-top: 2%;
        margin-top: 5%;
    }

    .projets {
        margin-top: 0%;
        padding-top: 10%;
    }

    .menuprojets {
        display: flex;
        justify-content: space-around;
    }

    /************************************************** MENU NOS PROJETS  **************************************************/
    .test:hover:after {
        display: block;
    }

    .test:after {
        top: 43px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(92, 173, 211, 0);
        /* Trangle */
        border-top-color: #cdafaf;
        border-width: 10px;
        margin-left: -10px;
        display: none;
        transition: 0.1s ease-in-out;
    }

    /**************************************** IMAGES ****************************************/
    .image-portfolio img {
        margin-top: 10%;
        position: relative;
        width: 300px;
    }

    .images {
        padding-top: 3%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: auto;
        padding-left: 5%;
    }

    #afficher-site-1:hover #site-1 {
        display: block;
    }

    .contener {
        margin-right: 7%;
        max-width: 1619px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
    }

    .contener div {
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        padding: 0;
        /*width: 25%;*/
    }

    .contener img {
        /* Taille des images */
        align-items: flex-start;
        position: relative;
        width: 235px;
        margin: 20px; /* espace entre les images */
        margin-top: 5%;
        box-shadow: 1px 1px 3px 1px;
        border-radius: 3px;
    }

    .contener img:hover{
        box-shadow: black 1px 2px 5px 3px;
    }

    figure {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    figcaption {
        position: absolute;
        bottom: 20px;
        width: 84.9%;
        height: 25%;
        margin-left: 7.5%;
        font-family: "RobotoBold", sans-serif;
        color: #fff;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        border-radius: 3px;
        
    }

    figcaption:hover {
        opacity: 1;
        transition: 0.5s ease-in-out;
        box-shadow: black;
    }

    figcaption h4 {
        /* Taille titre images */
        font-size: 1.3em;
        padding: 3% 0 0 3%;
        margin-top: 0%;
    }

    figcaption p {
        font-size: 1em;
        padding: 0 0 0 3%;
        /* Espace haut entre le titre des images et la description */
        margin-top: -13%;
    }

    .fa-camera-retro {
        position: absolute;
        bottom: 70%;
        right: 8%;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 6%;
        background-color: #e5968a;
    }

    figure .activeportfoliomenu {
        opacity: 1;
    }

    /**************************************** FOOTER ****************************************/
    .menufooter{
        background-color: #41484a;
        margin-top: 100px;
        padding-bottom: 35px;
        padding-top: 10px;
        padding-left: 2%;
        box-shadow: 1px 3px 9px 3px;
    }

    .menufooter a:hover{
        color: black;
    }

    /**************************************** FORMULAIRE ****************************************/
    textarea {
         resize: none;
         width: 84% !important;
         box-shadow: 4px 4px 5px #999999;
         margin-top: 10px;
    }


        form {
            background: #FFFFFF;
            width: 350px;
            text-align: center;
            margin: 30px auto;
            box-shadow: 4px 4px 5px #999999;
            padding-bottom: 40px;
            border-radius: 10px;
            margin-top: 60px;
            padding-top: 20px;
          }

        h7 {
            height: 40px;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 20px;
            background-color: #E91E63;
            color: white;
            padding: 15px;
            border-radius: 10px 10px 0 0;
          }
          
          input {
            margin: 20px 0px;
            width: 300px;
            border: none;
            padding: 5px 0;
            border-bottom: solid 1px #E91E63;
            color: #E91E63;
          }
          
          button {
            border: none;
            background-color: #E91E63;
            color: white;
            height: 40px;
            width: 150px;
            font-size: 15px;
            box-shadow: 4px 4px 5px #999999;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 15px;
          }

          button:hover {
            background-color: black;
            transition: 0.2s ease-in-out;
          }

        /* ADMIN */

        .list-products{
            width: 100%;
            table-layout: fixed;
        }

        .list-products td, .list-products th {
            border: 1px solid black;
        }
