{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!--PRODUITS-->

    <h2>VOTRE PANIER</h2>
    <div class="ligneproduits">
        <div class="ligneleft2"></div>
        <i class="fas fa-circle"></i>
        <div class="ligneright2"></div>
    </div>

<!--IMAGES-->

    <div class="contener">


    </div>
{% endblock %}