{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!--PRODUITS-->

    <h2>VOTRE PANIER</h2>
    <div class="ligneproduits">
        <div class="ligneleft2"></div>
        <i class="fas fa-circle"></i>
        <div class="ligneright2"></div>
    </div>

<!--IMAGES-->

    <div class="contener">
        <table id="cart">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

       

    </div>

    <div class="contener">
     <form id="cart-form" method='post'>
            <div>
                <label for='firstname'>Prénom</label>
                <input id="firstname" placeholder="Prénom" name="firstname"/>
            </div>
             <div>
                <label for='lastname'>Nom</label>
                <input id="lastname" placeholder="Nom" name="lastname" />
            </div>
            <button type="submit">Valider ma commande</button>
        </form>
    </div>
    <script src="/P5/assets/js/cart.js"></script>
{% endblock %}