{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}


<!--IMAGES-->

    <div class="contener">
       Votre commande {{orderId}} a bien été enregistrée
    </div>


    <script src="/public/assets/js/cart.js"></script>
{% endblock %}
