{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!--PRODUITS-->

    <h2>CONTACTEZ-NOUS</h2>
    <div class="ligneproduits">
        <div class="ligneleft2"></div>
        <i class="fas fa-circle"></i>
        <div class="ligneright2"></div>
    </div>

<!--IMAGES-->
    <div class="container">
   
        <form method="post" action="/P5/contact">
            <div>
                <label>Votre nom *:</label>
                <input name="name" required/>
            </div>
            <div>
                <label>Votre email *:</label>
                <input name="email" type="email" required/>
            </div>
            <div>
                <label>Votre demande *:</label>
                <textarea name="description" rows="10" style="width: 100%;" required></textarea>
            </div>
            <button type="submit">Envoyer</button>
        </form>

    </div>

{% endblock %}