{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!--PRODUITS-->

    <h2>TOUS LES PRODUITS</h2>
    <div class="ligneproduits">
        <div class="ligneleft2"></div>
        <i class="fas fa-circle"></i>
        <div class="ligneright2"></div>
    </div>

<!--IMAGES-->

    <div class="contener">

        {% for product in products %}
        <a href="/P5/products/{{product.id}}">
           <figure><img src="{{product.image}}" alt="camera1" />
            <figcaption>
                <h4>{{product.title}}</h4></br>
                <p>{{product.description}}</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>
        </a>
        {% endfor %}

        <figure><img src="assets\images\camera1.jpg" alt="camera1" />
            <figcaption>
                <h4>Visio</h4></br>
            <p>Zoom Optique 5x</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera2.jpg" alt="camera2" />
            <figcaption>
                <h4>Olympius</h4></br>
                <p>Numérique 16.44 Mpix</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera3.jpg" alt="camera3" />
            <figcaption>
                <h4>Sony</h4></br>
                <p>Avec Objectif Pixor</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera4.jpg" alt="camera4" />
            <figcaption>
                <h4>Kodak</h4></br>
                <p>Photo Bridge Numérique</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera5.jpg" alt="camera5" />
            <figcaption>
                <h4>Digital</h4></br>
                <p>Digital Vision Nocturne</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera6.jpg" alt="camera6" />
            <figcaption>
                <h4>Lumix</h4></br>
                <p>Zoom Grand Angle 60x</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera7.jpg" alt="camera7" />
            <figcaption>
                <h4>Instax</h4></br>
                <p>Vlogging Caméra Compact</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

        <figure><img src="assets\images\camera8.jpg" alt="camera8" />
            <figcaption>
                <h4>Canon</h4></br>
                <p>EOS M50 Hybride</p>
                <div class="camera"><i class="fas fa-camera-retro"></i>
                </div>
            </figcaption>
        </figure>

    </div>
{% endblock %}