{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    
    <div class="contener">
       <ul>
        <li>
            <a href='/P5/admin/products'>Gérer mes articles</a>
        </li>
         <li>
            <a href='/P5/admin/orders'>Gérer mes commandes</a>
        </li>

       </ul>
    </div>

        <script src="/P5/assets/js/admin.js"></script>
    
{% endblock %}