{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="contener">
       <ul>
        <li>
            <a href='/admin/products'>Gérer mes articles</a>
        </li>
         <li>
            <a href='/admin/orders'>Gérer mes commandes</a>
        </li>

       </ul>
    </div>

        <script src="/public/assets/js/admin.js"></script>

{% endblock %}
